################################################
#Main Directories
################################################
Pictures/
Desktop/
Documents/
Downloads/
Music/
Public/
Templates/
Videos/


################################################
# System
################################################

## My systems
.ssh

## Default generated
.cache
.Xauthority
.xsession-errors
.xsession-errors.old
.bash_history
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
.config/dconf/user
.local/share/gvfs-metadata/
.config/libfm/
.config/gconf/desktop/%gconf.xml
.config/gconf/desktop/gnome/%gconf.xml
.config/gconf/desktop/gnome/interface/%gconf.xml
.gtkrc-2.0
.config/Kvantum/kvantum.kvconfig
## Define dirs Doc, Picture, Music, etc
.config/user-dirs.dirs
.dir_colors
## language
.config/user-dirs.locale
## by Lxappearance
.icons/default/
## first installed
.config/falkon/profiles/
## First appereance when opening gitkraken
.local/share/recently-used.xbel
## keystring auth => logged in user - gitkraken / bitwarden
.gnupg/
.pki
### GPG keys
.config/kwalletrc
.local/share/keyrings/
.local/share/kwalletd/
#### delete above to reset saved gpg key when using ks ssh ask password plasma
## App that using Qt
.config/QtProject.conf
## Git clone - Ex: Custom directory when cloning
.gk/



################################################
# System Apps
################################################

## unused
.config/hexchat/
.config/epdfview/
.config/dmenu-recent/
.config/morc_menu/
## used
.config/gcolor3/config.ini
.config/viewnior
.config/htop
.config/pulse
.config/nitrogen/
.local/share/clipit
.config/xarchiver/
.config/pamac/
.config/pcmanfm/

.config/ranger/*
!.config/ranger/rc.conf
.local/share/ranger/
.viminfo

.moc/*
!.moc/config


.local/share/Trash/


################################################
# Desktop Apps
################################################

## Jetbrains Toolbox Apps
.config/autostart/jetbrains-toolbox.desktop
.local/share/applications/jetbrains-*



################################################
# Apps
################################################

.config/screenkey.json
.config/sublime-text
.mozilla
.config/Bitwarden
.config/GitFiend/

# fontmanager
.config/font-manager/
.config/fontconfig/conf.d/78-Reject.conf

# flatpak
.var/app/
.local/share/flatpak/

## VLC
.local/share/vlc/
.config/vlc/
!.config/vlc/skin/

## Gitkraken
.gitkraken
.config/GitKraken/

## Obsidian
.config/obsidian/

## VSCode
.config/Code - OSS/
.vscode-oss/

## Libre
.config/libreoffice/
.config/cef_user_data/


################################################
# Development Crucials
################################################

.mariadb_history
## java
.m2
.java/
## node js
.local/.node/
.yarnrc
## Jetbrains
.config/JetBrains/
.local/share/JetBrains/

## Wakatime
.wakatime.cfg
.wakatime.bdb
.wakatime/
.wakatime-internal.cfg

## Laravel Composer
.config/composer/
.local/share/composer/

## ZSH
.zcompdump
.zcompdump-AI-chan-5.9
.zcompdump-AI-chan-5.9.zwc
.zshrc.pre-oh-my-zsh
.zsh_history
.zhistory
.p10k.zsh
.oh-my-zsh/








.config/discord/
.greentunnel/

.config/configstore/update-notifier-green-tunnel.json
.wine